<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.g6.georeminderv2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.g6.georeminderv2.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.g6.georeminderv2.AddNotification"
            android:label="@string/title_activity_add_notification" >
        </activity>
        <activity
            android:name="com.g6.georeminderv2.AddReminder"
            android:label="@string/title_activity_add_reminder" >
        </activity>
        <activity
            android:name="com.g6.georeminderv2.TimeActivity"
            android:label="@string/title_activity_time" >
        </activity>
        <activity
            android:name="com.g6.georeminderv2.DateActivity"
            android:label="@string/title_activity_date" >
        </activity>
        <activity
            android:name="com.g6.georeminderv2.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name="com.g6.georeminderv2.FavActivity"
            android:label="@string/title_activity_fav" >
        </activity>
        <activity
            android:name="com.g6.georeminderv2.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.g6.georeminderv2.CheckInActivity"
            android:label="@string/title_activity_check_in" >
        </activity>
    </application>

</manifest>
